* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --brand-color-light: #60A5FA;
    --brand-color-dark: #1D4ED8;

    --bg-color: #0F172A;
    --stroke-color: #1E293B;

    --text-color-primary: #F1F5F9;
    --text-color-secondary: #CBD5E1;

    --font-family: 'Archivo', sans-serif;
    --text-h1: 800 24px/135% var(--font-family);
    --text-h2: 800 16px/140% var(--font-family);
    --text-h3: 800 14px/140% var(--font-family);
    --text-span: 600 14px/145% var(--font-family);
    --text: 400 16px/140% var(--font-family);
    --text-p: 400 14px/160% var(--font-family);
}

body {
    font: var(--text);
    color: var(--text-color-primary);
    background-color: var(--bg-color);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color-light);
}

h1, h2, h3 {
    font: inherit;
}

img {
    max-width: 100%;
}

main {
    margin-top: 40px;
}

/* 
#app{
    display: grid;
    grid-template-areas:
    "A A A A"
    "B B C C"
    "B B C C"
    "D D D D"
    "E E F F"
    "E E F F"
    "E E G G"
    "E E G G";
    height: 100vh;
    gap: 20px;
}

.primeiro {
    grid-area: A;
    background-color: rgb(197, 197, 0);
}

.segundo {
    grid-area: B;
    background-color: blueviolet;
}

.terceiro {
    grid-area: C;
    background-color: green;
}

.quarto {
    grid-area: D;
    background-color: rgb(0, 113, 206);
}

.quinto {
    grid-area: E;
    background-color: rgb(206, 76, 0);
}


.sexto {
    grid-area: F;
    background-color: rgb(206, 0, 10);;
}


.setimo {
    grid-area: G;
    background-color: rgb(206, 0, 137);
} */